{% extends "main/base.html.twig " %}
{% set title="Bucket-List - Editer" %}


{% block main %}
	<link rel="stylesheet" href="{{ asset('css/formulaire.css') }}">
	<div class="title">
		{{title}}</div>

    {# message avec condition si il existe "response"   #}

	<div class="login-box">
		<h2>Formulaire</h2>

		{{ form_start(bucketListForm) }}
		<div class="user-box">
			{{ form_row(bucketListForm.name) }}
		</div>

		<div class="user-box">
			{{ form_row(bucketListForm.author) }}
		</div>

		<div class="user-box">
			{{ form_row(bucketListForm.content) }}
		</div>

		<div class="user-box">
			{{ form_row(bucketListForm.image) }}
		</div>

		<button class="validation" type="submit">Valider
		</button>


		{{ form_end(bucketListForm) }}

	</div>
{% endblock %}

